<launch>
    <node pkg="position_module" name="Robot_PID_Ctrl" type="pid_processor" output="screen">
        <param name="configPath" value="$(find position_module)/pid_config/pidConfig.json" />
        <param name="arrivalRange" value="0.4" />
    </node>
    <include file="$(find lidar_module)/launch/launch_line_extraction.launch"/>
    <!-- <include file="$(find project_core)/launch/RobotCore.launch"/> -->
    <!-- <include file="$(find project_core)/launch/module_launch/lidar_slam.launch"/> -->
</launch>
