[submodule "src/laser_line_extraction"]
	path = src/laser_line_extraction
	url = git@github.com:kam3k/laser_line_extraction.git
[submodule "src/position_module/src/minmea"]
	path = src/position_module/src/minmea
	url = git@github.com:kosma/minmea.git
[submodule "src/pygarmin"]
	path = src/pygarmin
	url = git@github.com:CMPE195-Group-28-Auto-Delivery-Robot/pygarmin.git
