<launch>
    <arg name="robot_name" value="deli_robot" />

	<include file="$(find control_module)/launch/GUIComponent.launch"/>

	<group ns="$(arg robot_name)">
		<include file="$(find project_core)/launch/module_launch/Common_StartUp.launch">
			<arg name="robot_name" value="$(arg robot_name)" />
		</include>
		<include file="$(find project_core)/launch/module_launch/Algorithm.launch"/>
		<node pkg="driver_module" name="Driver" type="Robot_Base_Driver.py" output="screen">
    	    <param name="SubPath" value="controlVel" />
    	</node>
    </group>
</launch>
