<launch>
    <arg name="robot_name" value="deli_robot" />

	<include file="$(find control_module)/launch/GUIComponent.launch"/>

	<group ns="$(arg robot_name)">
		<!-- Driver level Component -->
		<include file="$(find project_core)/launch/Rplidar.launch"/>
		<include file="$(find project_core)/launch/BaseDriver.launch"/>
		<include file="$(find project_core)/launch/ZEDCam.launch">
			<arg name="robot_name" value="$(arg robot_name)" />
		</include>

		<!-- Algorithm Component -->
		<include file="$(find position_module)/launch/Localization.launch">
			<arg name="robot_name" value="$(arg robot_name)" />
		</include>
		<!-- <include file="$(find position_module)/launch/Algorithm.launch"/> -->
    </group>
</launch>
