<launch>
    <node pkg="project_core" name="RobotCore" type="Robot_Core_Node" output="screen">
        <param name="avoid_angle" value="20"/>
        <param name="move_distance" value="10"/>
        <param name="search_distance" value="20"/>
        <param name="min_reach_distance" value="1"/>
    </node>
</launch>