[Unit]
Description=On Going ZED Cam Node

[Service]
ExecStart=/home/deli_robot/Auto_Deli_Robot/Back_Service/ZED_Wrapper_StartUp.sh

[Install]
WantedBy=multi-user.target
